.header-container {
  display: flex;
  gap: 80px;
  align-items: center;
  /* justify-content: space-between; */
}

.middleTabs > ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  /* width: 100%; */
  gap: 95px;
  /* justify-content: space-between; */
}

.main-sweety-wrapper {
  background-image: url(../assets/img/sweety_bg.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
}

.middleTabs {
  /* width: 58%; */
}

.middleTabs > ul > li {
  color: #fff;
  font-weight: 500;
}

.middleTabs > ul > li:hover {
  color: palevioletred;
}

span.logo {
  font-size: 2rem;
  font-weight: 700;
  color: palevioletred;
}
